@font-face {
  font-family: SF PRO;
  src: url(./sf-pro-display_semibold.woff2);
}
* {
  padding: 0%;
  margin: 0%;
  font-family: SF PRO;
  color: #fff;
}

body, html {
  height: 100%;
  width: 100%;
}

.main {
  position: relative;
  overflow: hidden;
}

nav {
  height: 14vh;
  width: 50vw;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
nav .nav1 {
  height: 7vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav1 svg {
  height: 23px;
}
nav .nav1 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
nav .nav1 .content .items {
  font-size: 15px;
  font-weight: 200;
}
nav .nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  position: sticky;
}
nav .nav2 h2 {
  font-size: 20px;
  margin-left: 15px;
  font-weight: 400;
}
nav .nav2 button {
  padding: 8px;
  color: #333;
  border-radius: 20px;
  border: none;
  font-weight: 300;
  margin-right: 15px;
}

nav:hover {
  cursor: pointer;
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
.page1 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 5%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.page1 .page1-bottom {
  height: 20vh;
  width: 50vh;
  position: absolute;
  bottom: 5%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateX(-50%);
}
.page1 .page1-bottom h3 {
  font-weight: 700;
  margin-bottom: 1vw;
  color: #333;
  font-size: 20px;
}

.page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page2 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page2 h1 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page3 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page3 h1 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}

.page4 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page4 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page4 h1 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}

.page5 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page5 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page5 h1 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
.page5 h2 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
  opacity: 0;
}

.page6 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page6 button {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 30px;
  font-weight: 400;
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 50px;
  color: #000;
}
.page6 img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page6 .page6-up {
  height: 30%;
  width: 35%;
  background-color: #fff;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.page6 .page6-up img {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 70%;
}
.page6 .page6-up h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #C0C0C0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.page6 .page6-up .page6-mid {
  position: absolute;
  top: 10%;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.watch {
  font-size: 30px;
  color: #ff823d;
  font-weight: 500;
  align-items: center;
}
.watch svg {
  width: 30px;
}

.page7 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page7 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page7 h1 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
.page7 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.page7 .center h5 {
  font-size: 4vh;
  font-weight: 700;
  top: 50%;
}

.page8 {
  position: relative;
  height: 60vh;
  width: 100vw;
  display: flex;
}
.page8 .left {
  position: relative;
  height: 100%;
  width: 50%;
}
.page8 .left h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-size: 32px;
}
.page8 .right {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 50%;
}
.page8 .right h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #C0C0C0;
  font-size: 3vh;
  width: 90%;
  font-weight: 400;
  padding-left: 4vw;
  margin-bottom: 10px;
}
.page8 .right button {
  padding: 20px 30px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 50px;
  color: #fff;
  background-color: rgb(255, 90, 0);
  position: absolute;
  bottom: 30%;
  right: 62%;
  border: none;
}

.page9 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page9 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page9 h1 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
.page9 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.page9 .center h5 {
  font-size: 4vh;
  font-weight: 700;
  top: 50%;
}

.page10 {
  position: relative;
  height: 60vh;
  width: 100vw;
  display: flex;
}
.page10 .left {
  position: relative;
  height: 100%;
  width: 50%;
}
.page10 .left h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-size: 32px;
}
.page10 .right {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 50%;
}
.page10 .right h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #C0C0C0;
  font-size: 3vh;
  width: 90%;
  font-weight: 400;
  padding-left: 4vw;
  margin-bottom: 10px;
}
.page10 .right button {
  padding: 20px 30px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 50px;
  color: #fff;
  background-color: rgb(255, 90, 0);
  position: absolute;
  bottom: 30%;
  right: 62%;
  border: none;
  white-space: nowrap;
}

.page11 {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.page11 video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page11 h1 {
  font-weight: 500;
  font-size: 5vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}
.page11 .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.page11 .center h5 {
  font-size: 4vh;
  font-weight: 700;
  top: 50%;
}

.page12 {
  position: relative;
  height: 60vh;
  width: 100vw;
  display: flex;
}
.page12 .left {
  position: relative;
  height: 100%;
  width: 50%;
}
.page12 .left h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-size: 32px;
}
.page12 .right {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 50%;
}
.page12 .right h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: #C0C0C0;
  font-size: 3vh;
  width: 90%;
  font-weight: 400;
  padding-left: 4vw;
  margin-bottom: 10px;
}
.page12 .right button {
  padding: 20px 30px;
  font-weight: 500;
  font-size: 20px;
  border-radius: 50px;
  color: #fff;
  background-color: rgb(255, 90, 0);
  position: absolute;
  bottom: 30%;
  right: 62%;
  border: none;
}

.page13 {
  position: relative;
  height: 70vh;
  width: 100vw;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.page13 h3 {
  margin-bottom: 1vw;
  font-size: 2vw;
  color: #000;
}
.page13 h1 {
  margin-bottom: 1vw;
  font-size: 4vw;
  color: #000;
}
.page13 p {
  margin-bottom: 1vw;
  font-size: 1.2vw;
  font-weight: 500;
  width: 60%;
  color: rgba(84, 84, 84, 0.7882352941);
}

.page14 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.page14 > canvas {
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 99;
}/*# sourceMappingURL=style.css.map */
